.Dashboard {
  border-radius: 30px;
}

.Dashboard button {
  border: none;
}

.Dashboard .vertical-rule {
  background-color: grey;
  width: 1px;
  height: 500px;
}

.btn-previous,
.btn-next {
  background-color: transparent;
}
